@model TownUtilityBillSystemV2.Models.AddressModels.AddressModel
@using TownUtilityBillSystemV2.Resources

@{
	ViewBag.Title = Localization.ShowTemperatureChart;
}

<img src=@ViewBag.ImageIconPath class="temperaturteIcon" />
<font size="6"> <strong>@Localization.TemperatureChart</strong></font>
<br />
<br />

<div class="form-group">
	@if (ViewBag.TownList != null)
	{
		@Html.DropDownListFor(model => model.Town.Id, ViewBag.TownList as SelectList, Localization.SelectTown, new { @class = "form-control" })
	}
</div>

<div id="chartArear"></div>
<div id="map-canvas" class="map-canvasForTemperatureView"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7oyKXdpaKqurqotVj7_bhl9V9_7B5cMQ&libraries=places"
		type="text/javascript"></script>
<script src="~/Scripts/appJsScripts/showTemperatureChart.js"></script>
