@using TownUtilityBillSystemV2.Resources

<div class="form-group">
	<div class="col-md-offset-2 col-md-10">
		<input type="submit" value=@Localization.Save class="btn btn-primary btn-large btn-block" />
		<br />
		<a href="javascript:history.go(-1)" class="btn btn-primary btn-large btn-block btn-brown btn-cancel">
			@Localization.Cancel
		</a>
	</div>
</div>
