body {
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}


#WebHeaderImage {
	width: 100%;
	height: auto;
}

#Footer {
	color: red;
}

.header-bold {
	font-weight: bold;
}

.header-flag {
}

.user-icon {
	margin-top: 17px;
}

.flag-highlighted {
	border: 2px solid white;
}

.empty-image {
	padding-left: 5px;
}

.flags {
	position: absolute;
	margin-left: 475px;
	margin-top: 17px;
}

.span-bold {
	font-weight: bold;
}

.span-red {
	color: red;
}

.span-blue {
	color: #4099da;
}

.mark-yellow {
	background-color: yellow;
	color: black;
	font-weight: bold;
}

#allNewsList {
	width: 900px;
	margin: 0 auto;
}

#linkForNewsList {
	color: black;
}

#newsSlidesCanvas {
	width:820px;
	margin:0 auto;
}

#newsCarousel {
	width:800px;
}

#contactMapCanvas {
	width: 100%;
	height: 300px;
}

#newsTitle {
	line-height: 1.1;
}

.btn-green {
	background-color: green !important;
}

.btn-dark-green {
	background-color: #006600 !important;
}

.btn-brown {
	background-color: #b36b00 !important;
}

.btn-dark-brown {
	background-color: #995c00 !important;
}

.btn-cancel {
	width: 280px;
	border-color: brown;
}

.btn-cancel-brown {
	width: 280px;
	border-color: brown;
}


.utility-icon {
	width: auto;
	height: 30px;
}

.utility-icon-height-40px {
	width: auto;
	height: 40px;
}

.temperature-icon-for-bill {
	width: auto;
	height: 37px
}

#utilityName {
	color:red;
}

#imgShowUtility {
	width:auto; 
	height:40px;
}

.div-medium-font-size {
	font-size:medium;
}

#map-canvas {
	width: 100%;
	height: 270px;
}

.row .col-xs-4 {
	background-color: white;
	color: black;
}

.map-canvasForTemperatureView {
	min-width: 310px;
	height: 400px;
	margin: 0 auto
}

.map-canvasUtilityUsage {
	min-width: 310px;
	max-width: 100%;
	height: 320px;
	margin: 0 auto
}



.temperaturteIcon {
	width:auto;
	height:40px;
}

#chartArear {
	min-width: 310px;
	height: 400px; 
	margin: 0 auto;
}

.p-red{
	color:red;
}

#containerUtilitiesCharges {
	min-width: 310px;
	height: 400px;
	max-width: 600px;
	margin: 0 auto;
}

#containerForOneUtility {
	min-width: 310px;
	height: 300px;
	margin: 0 auto;
}

#containerForThreeUtilities {
	min-width: 310px;
	height: 450px;
	margin: 0 auto;
}

#mapCanvasDetailsForCustomer {
	width: 370px;
	height: 250px;
}

#customerDataForFoundBills {
	overflow: auto;
}

.font-size-5px-red {
	font-size: 5px;
	color: red;
}

.font-size-15px {
	font-size: 15px;
}

.font-size-17px {
	font-size: 17px;
}

.red-color-text {
	color:red;
}

.brown-color-text {
	color: brown;
}

.font-size-17px-zeroTopPadding {
	font-size: 17px;
	padding-top: 0px !important;
}

.background-white {
	background-color: white !important;
	color: black !important;
}

.red-header {
	color: red;
}

#utilitySupplierIcon {
	width: 200px;
}

.text-indent {
	text-indent: 40px;
}








