@using TownUtilityBillSystemV2.Resources

@{
	//TO DO
	ViewBag.Title = Localization.CreateNewUtility;
}
<h2 class="header-bold">@ViewBag.Message</h2>

@Html.Partial("~/Views/Shared/_BackToPreviousPagePartial.cshtml")
